<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <div mat-subheader>User Management</div>
      <mat-list-item>
        <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
        <a routerLink="list" class="btn-list" mat-raised-button>
          <div mat-line>LIST</div>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <a routerLink="add" class="btn-add" mat-raised-button>
          <div mat-line>ADD</div>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="container">
    <div>
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>
</mat-drawer-container>